.one{
    flex: 1;
    
}

.find-test{
    flex: 8;   
}
body{
    padding-top: 20px;
    font-family: Tahoma;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 15px;
    margin-top: 15px;
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;

  }

  .do-test-btn {
      background-color: rebeccapurple;
      color: white;     
      width: 25%;
  }

  .find-btn {
      margin-left: 10px;
      background-color: yellow;
  }
