<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Filter</title>
</head>
<body >
    <div style="display: flex;">
    <div class="one"></div>

    <div class="find-test">
        <span class="mat-display-1" style="text-decoration: underline solid #99ffcc;">Find Test:</span>
        <form class="example-container" >
        <mat-form-field  appearance="fill">
            <mat-label>Major</mat-label>
            <mat-select >
              <mat-option value="Javascript">JS</mat-option>
              <mat-option value="Java">Java</mat-option>
              <mat-option value=".Net">.NET</mat-option>
              <mat-option value="IOS">IOS</mat-option>
              <mat-option value="HR">HR</mat-option>
              <mat-option value="Tester">Tester</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" >
            <mat-label>Level</mat-label>
            <mat-select >
              <mat-option value="Javascript">Easy</mat-option>
              <mat-option value="Java">Normal</mat-option>
              <mat-option value=".Net">Hard</mat-option>           
            </mat-select>
          </mat-form-field>
          
          <!-- find-event -->
          <a class="find-btn" mat-raised-button href=""><span class="material-icons">
            image_search
            </span> Find</a>
          
        </form>
        <hr>
    </div>
    <div class="one"></div>
    </div>
    <div style="display: flex">
    <div class="one"></div>
    <div class="find-test">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Major
                </mat-panel-title>
                <mat-panel-title>
                    Time
                </mat-panel-title>
                <mat-panel-title>
                    Question
                </mat-panel-title>
                <mat-panel-title>
                    Level
                </mat-panel-title>
                <mat-panel-title>
                  Do Test
              </mat-panel-title>
              </mat-expansion-panel-header>
              <!-- fill data -->
              <mat-expansion-panel-header *ngFor="let i of listTest"> 
                <mat-panel-title>
                  {{i.field}}
                </mat-panel-title>
                <mat-panel-title>
                  {{i.time}}
                </mat-panel-title>
                <mat-panel-title>
                  {{i.numquestion}}
                </mat-panel-title>
                <mat-panel-title>
                  {{i.level}} 
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!-- add link here -->
              <hr>
                <a class="do-test-btn" mat-raised-button  > <span class="material-icons">
                    history_edu
                    </span> Do It ...</a>
            </mat-expansion-panel>
            <mat-expansion-panel
                                (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">        
            </mat-expansion-panel>
            <br>
          </mat-accordion>
          
    </div>
    <div class="one"></div>
</div>
</body>
</html>
