<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ManageAccounts</title>
</head>
<body>
    <a [routerLink]="'/admin/addAccount'" id="Add">Add Account</a>
        <table>
            <tr>
                
                <th>Mã Học Viên</th>
                <th>Tên Học Viên</th>
                <th>Số Điện Thoại</th>
                <th>Địa Chỉ</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let account of accounts">
               
                <td>{{account.id}}</td>
                <td>{{account.name}}</td>
                <td>{{account.phoneNumber}}</td>
                <td>{{account.address}}</td>
                <td>{{account.email}}</td>
                <td>
                    <a routerLink="/admin/editAccount/{{account.id}}"mat-raised-button color="primary">Sửa</a>
                    <a routerLink="/admin/deleteAccount/{{account.id}}" mat-raised-button color="warn">Xóa</a>
                    
                </td>
            </tr> 
            
        </table>
        
</body>
</html>
