<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informations user</title>

</head>

<body>
    <div class="user-infomation" *ngFor = "let i of informations">
        <div class="user-img">
            <img src="https://cdn.iconscout.com/icon/free/png-512/laptop-user-1-1179329.png" alt="">
            <h1>{{ i.name }}</h1>
            <p>{{ i.email }}</p>
        </div>

        <mat-card class="user-info">
            <button mat-raised-button (click)="show = !show"><span class="material-icons">edit</span></button>

            <table>
                <tr [style.display]="hidden">
                    <th>ID: </th>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input [(ngModel)]="id" matInput  value="{{ i.id }}">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <th>Full name: </th>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input [(ngModel)]="name" matInput [disabled]="show"  value="{{i.name}}">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <th>Email: </th>
                    <td>
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <input type="email" matInput [disabled]="show" [formControl]="emailFormControl"
                                    [errorStateMatcher]="matcher" [(ngModel)]="email" >
                                <mat-error
                                    *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                    Email is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>Number Phone: </th>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput [disabled]="show" [(ngModel)]="phone">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <th>Address: </th>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>{{ i.address }}</mat-label>
                            <input matInput [disabled]="show" [(ngModel)]="address">
                        </mat-form-field>
                    </td>
                </tr>
            </table>


            <div class="btn-edit-info">
                <button mat-raised-button color="primary" (click)="getValueInfo()">Submit</button>
            </div>

        </mat-card>
    </div>
</body>

</html>
