table {
    width: 95%;
    background-color: #b3ffff;
    margin-left: 2%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 90%;
    margin-left: 2%;
  }

  .mat-display-1{
    margin-top: 20px; 
    text-align: center;
    height: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
 