.banner{
    display: flex;
    background-color: lightyellow;
  }
  .cancel{
    flex:1
  }
  .main{
    flex: 4;
    text-align: center; 
}
.img_banner{
    margin-top: 40px;
    overflow: hidden;  
}
  .content_1{
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
  }
  .no{
    flex:1
  }
  .maincontent{
    flex:7;
    display: flex;
  }
  .n_1{
    flex:1;
    text-align: center; 
  }
  .docs-header-section[_ngcontent-jrt-c64] {
    width: 90%;
    position: absolute;
    z-index: 0;
    text-align: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
body{
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    height: 40%;
}
.example-card {
    max-width: 250px;
  }

  