<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddTest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <form action="#">
    <div>
        <label for="#">Ngày Thi</label>
        <mat-form-field appearance="fill" class="mat-form">
            <mat-label>Choose Date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>
    <div>
        <label>
            Số  câu hỏi
        <input type="number" placeholder="Nhập Số Lượng Câu Hỏi" >
        </label>
    </div>
    <div>
        <label>
            Thời Gian
        <input type="number" placeholder="Nhập thời gian" >
        </label>
    </div>
    <div>
        <label>
            Mức Độ
        <mat-form-field appearance="fill" >
            <select matNativeControl required [(ngModel)] = "fillterLevel" name="fillterLevel" (click)="filter()" class="mat-form">
            <option value="Select">Select</option>
            <option value="Intern">Intern</option>
            <option value="Fresher">Fresher</option>
            <option value="Junior">Junior</option>
            <option value="Senior">Senior</option>
            </select>
        </mat-form-field>
        </label>
    </div>
    <div>
               <span>Đề Tài</span>
                <mat-form-field appearance="fill">
                <select matNativeControl required [(ngModel)]="fillterPlant" name="fillterPlant" (click)="filter1()" class="mat-form" >
                <option value="0">Select</option>
                <option value="1">Developer</option>
                <option value="2">Tester</option>
                <option value="3">Marketing</option>
                <option value="4">Sale</option>
                </select>
            </mat-form-field>
    </div>
    <div id="button" style="text-align: center;">
        <button class="material-icons" (click)="oneToLeft()">arrow_back_ios_new</button>
        <button class="material-icons" (click)="allToLeft()">fast_rewind</button>
        <button class="material-icons" (click)="allToRight()">fast_forward</button> 
        <button class="material-icons" (click)="oneToRight()">arrow_forward_ios</button>
    </div> 
    <div id="question">
        <div id="left">
            <select size="30" class="form-control" id="list1" multiple >
                <option *ngFor="let question of questionFilter" >       
                      <p > 
                       {{question.questionInfor}}
                      </p>
                      
                </option>
                
            </select>
            <input type="checkbox">
        </div>
        <div id="right">
            <select size="30" class="form-control" id="list2" multiple>
                <option *ngFor="let questionSelect of questionsSelect" >        
                      <p>
                       {{questionSelect.questionInfor}}
                     </p>
                </option>
            </select>
        </div>
    </div>     
 
    <button>Thêm</button>
</form>
</body>
</html>
