*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}
#question{
    display: flex;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    
}
#left{
    flex-basis: 50%;
    border-right: 1px solid black;
    overflow: scroll;
    padding: 10px 10px;

    
}
#right{
    padding: 10px 10px;
    flex-basis: 50%;
    overflow: scroll;
    
}
#question > #left > a,#question > #right > a{
    text-decoration: none;
    display: block;
}
