<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="nav-user.component.css">
  <title>User</title>
</head>
<body>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar >
        <span class="material-icons">
           widgets
        </span>
        Menu </mat-toolbar>
      <mat-nav-list>
         <!-- add menu item -->
         <a mat-list-item routerLink="test-blog">
          <span class="material-icons">
            satellite
          </span>Blog</a>
        <a mat-list-item routerLink="history">
          <span class="material-icons">
              history_edu
          </span>Tests History</a>
        <a mat-list-item routerLink="test">
          <span class="material-icons">
            create
          </span>Create Quizzes </a>
        <a mat-list-item routerLink="information">
          <span class="material-icons">
            description
          </span>Informations</a>
           
      </mat-nav-list>
      
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar  color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <!-- Link here -->
          <span class="face material-icons">
            face
          </span>      
        <a style="margin-left: 1%; width: 100px;" href="#" mat-raised-button>
          <span class="material-icons">
            login
          </span>{{infor}}
        </a>
      </mat-toolbar>

      <!-- Add Content Here ROUTER LINK -->
      <router-outlet></router-outlet>
      
    </mat-sidenav-content>  
  </mat-sidenav-container>
</body>
</html>

