.sidenav-container {
    height: 100%;
  }
  .sidenav {
    width: 200px;
  }
  .sidenav .mat-toolbar {
    background: inherit;
    background-color: rgb(31, 139, 197);
    color:#fff;
  }
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(to right, rgb(31, 139, 197), rgb(26, 166, 237));
  }
  .face{
    font-size: 38px;
    margin-left: 80%;
  }
  :hover:mat-list-item-conten{
    background-color: rebeccapurple;
  }
  table {
    width: 100%;
    
  }
  