<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do Test</title>
</head>
<body>
    <div class="start">
        <button (click)="countdown.resume()" [style.display]="hidden" class="start-btn" mat-raised-button color="primary"(click)="startQuizz_Fnc()">Start Quizz</button>
    </div><hr>
    <div style="margin-left: 7%;">
        <h1><span class="material-icons">
            alarm
            </span><countdown #countdown [config] = "{leftTime: timedata, demand: true}" > </countdown></h1>
    </div>
    <div class="parent"[style.display]="state" >
        <div class="one"></div>
        <div  class="main">
                <!-- bind data -->  
              
                 <mat-card class="example-card" style="background-color: lightgoldenrodyellow;" >                   
                    <mat-card-header >
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Question{{id}}</mat-card-title>
                      <mat-card-subtitle>{{name}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <section >
                        <mat-radio-group [(ngModel)]="Anweser">
                            <mat-radio-button class="example-radio-button" [value]="solutionA">
                                {{solutionA}}
                            </mat-radio-button><br>
                            <mat-radio-button class="example-radio-button" [value]="solutionB">
                                {{solutionB}}
                            </mat-radio-button><br>
                            <mat-radio-button class="example-radio-button" [value]="solutionC">
                                {{solutionC}}
                            </mat-radio-button><br>
                            <mat-radio-button class="example-radio-button" [value]="solutionD">
                                {{solutionD}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </section>
                    </mat-card-content>                                     
                    <mat-card-actions>              
                        <div class="btn">
                            <div mat-button-group>
                             <button class="btn-test" mat-raised-button color="primary" (click)="nextquestion_fnc()">Next</button>
                             <button class="btn-test" (click)="countdown.stop()" mat-raised-button color="accent"(click)="submitTest_fnc()">Submit</button>
                            </div>              
                        </div>
                    </mat-card-actions>
                  </mat-card>
                  <div style="margin-left: 100px;">Anweser: {{Anweser}}</div>                 
            
            </div>      
        <div class="one"></div>      
    </div>
<div [style.display]="isShow" >
            <div style="flex: 1;" class="cancel"></div>
            <div style="flex: 8" class="result">
                <mat-card  style="background-color: white; width: 60%; margin-left: 10%;" >
                    <mat-card-header  >
                        <span class="mat-display-1" style="color: mediumpurple; text-decoration: underline; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Congratulations:</span>
                    </mat-card-header>
                    <mat-card-content>
                        <h2>You got: {{point}}/{{NUMBER_OF_QUESTION}}</h2>
                    </mat-card-content>
                </mat-card>
                <button (click)="countdown.restart()" mat-raised-button (click)="back_fnc()" color="primary" style="width: 100px;">OK</button>          
            </div>
            <div style="flex: 1;" class="cancel"></div>
        </div>
        
</body>
</html>
