.main{
    flex: 8;
}
.start-btn{
  text-align: center;
  margin-top: 20px;
  margin-left: 50%;
}
.one{
    flex: 1;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
.example-radio-button {
    margin: 5px;
  }

mat-card{
      padding-left: 10%;
  }

.parent{
  
  margin-top: 20px;
}

.btn{
  margin-top: 20px;
  float: right;
}

.btn-test{
  width: 150px;
  margin-left: 20px;
}

h1{text-align: center;}


.example-card {
  max-width: 70%;
  max-height: auto;
  margin-left: 8%;
}

.example-header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Blue_question_mark_icon.svg/1200px-Blue_question_mark_icon.svg.png');
  background-size: cover;
}
body{
  background-image: url("https://images.pexels.com/photos/268261/pexels-photo-268261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
}